:root{
    color: black;
    color: white;    
    --amarillo: #FFC107;
    --blue: #0097A7;
    color: rgb(90, 61, 61);
    color: beige;
    color: rgb(12, 115, 12);
    color: rgb(47, 81, 47);
    color: rgb(126, 222, 126);
    color: rgb(225, 216, 204);
    color: #868278;
    color: rgb(231, 231, 219);
    color: rgb(109, 151, 109);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Empuja el footer hacia abajo */
.content {
    flex: 1;
}

/* Estilos del footer */
.footer {
    background: #0B4F14;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.footer {
    background: #0B4F14;
    color: white;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    height: 190px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 2500px;
    margin: 0 auto;
    flex-wrap: wrap;
    display:column;
    width: 100%;
}

.footer-center{
    max-width: 500px; /* Comprime el ancho del contenedor */
    /*text-align: left; /* Alinea el texto a la izquierda */
    padding: 0;
    text-align: left 20px;
    line-height: 33px;
}

.footer1  {
    font-size: 35px; /* Ajusta el tamaño de la fuente para hacer el texto más comprimido */
    line-height: 25px; /* Ajusta la altura de las líneas para que el texto esté más compacto */
}
.footer3, .footer-center, .footer2 {
    flex: 1;
    margin: 25px;
    min-width: 100px;
    font-size: 26px;
}

.prodcons2 {
    width: 300px;
    height: auto;
    margin-bottom: 5.5px;
}

h4 {
    margin: 0 0 10px;
    font-weight: bold;
    transform: translateY(-8px); /* Mueve el texto de 'SOBRE NOSOTROS' hacia arriba */
}

p, li {
    margin: 5px 0;
    font-size: 0.9rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.footer-bottom {
    flex: 1;
    margin: 1px;
    min-width: -150px;
    font-size: 15.5px;
    text-align: right;
    margin-top: -55px;
    transform: translateX(-50px)
    
}

.footer2{
    line-height: 29.1px;
    transform: translateX(80px);
}

.footer3{
    line-height: 20px;
}